doctype html
html
    head
        link(rel='stylesheet' href='../node_modules/normalize.css/normalize.css')
        link(rel='stylesheet' href='../bower_components/fontawesome/css/font-awesome.css')
        link(rel='stylesheet' href='main.css')

    body
        #main
            h2
                i(class='fa fa-newspaper-o fa-fw')
                |  readings

            a(href='http://dailyjs.com' target='_blank') dailyjs.com
            a(href='http://dmitrysoshnikov.com/' target='_blank') ECMA-262 Dmitry Soshnikov

            br

            h2
                i(class='fa fa-code fa-fw')
                |  code

            a(href='#' target='_blank') Node
            a(href='#' target='_blank') io.js
            a(href='#' target='_blank') yeoman

            br

            a(href='#' target='_blank') Grunt
            a(href='#' target='_blank') Gulp
            a(href='#' target='_blank') Browserify

            br


            h2 
                i(class='fa fa-rocket fa-fw')
                |  world
            a(href='http://minfin.com.ua/currency/mb/' target='_blank') межбанк 
            a(href='https://mail.google.com/mail/u/0/#inbox' target='_blank') gmail
