doctype html
html
    head
        title home
        link(rel='stylesheet' href='../node_modules/normalize.css/normalize.css')
        link(rel='stylesheet' href='../bower_components/fontawesome/css/font-awesome.css')
        link(rel='stylesheet' href='main.css')

    body
        #main
            h2
                i(class='fa fa-newspaper-o fa-fw')
                |  readings

            a(href='http://dailyjs.com') dailyjs.com
            a(href='http://dmitrysoshnikov.com/') ECMA-262 Dmitry Soshnikov

            br

            h2
                i(class='fa fa-code fa-fw')
                |  code

            a(href='http://nodejs.org/') node
            a(href='http://iojs.org/') io.js
            a(href='http://yeoman.io/generators/') yeoman:generators

            br

            a(href='http://gruntjs.com') Grunt
            a(href='http://gulpjs.com/plugins/') Gulp:plugins
            a(href='http://browserify.org') Browserify

            br

            a(href='http://fortawesome.github.io/Font-Awesome/cheatsheet/') fontawesome


            h2 
                i(class='fa fa-rocket fa-fw')
                |  world

            a(href='http://minfin.com.ua/currency/mb/') межбанк 
            a(href='https://mail.google.com/mail/u/0/#inbox') gmail
